* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

li {
    list-style: none;
}

body {}

a {
    text-decoration: none;
}

.mt-10 {
    margin-top: 10px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
}

.p-3 {
    padding: 5px;
}

/* ------------------------------------ */
.navig a {
    color: #707070;
    font-size: 14px;
}

.navig i {
    color: #707070;
    padding: 0 5px;
    font-size: 14px;
}

.navig .item.active {
    color: #3b9048;
}

.navig a:hover {
    color: #3b9048;
}

/* ---------------------------------- */

header {
    background-color: #252525;
    max-height: 128px;
}


header .top-header .top-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .top-header .top-items a {
    color: #fff;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 3px 25px;

}

header .top-items .item:hover a {
    color: #3b9048;
}

header .body-header {
    padding: 20px;
    position: relative;
    bottom: -5px;
    background: #fff;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}


header .body-header .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .body-header .top-bar .user {
    font-size: 14px;
    color: #252525;
}

header .body-header .top-bar .user:hover {
    color: #3b9048;
}


header .body-header .bottom-bar {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .body-header .bottom-bar h3 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    font-weight: 700;
    line-height: 17px;

}

header .body-header .bottom-bar .item:first-child {
    background-color: #3b9048;
    height: 45px;
    padding: 15px 55px 25px 22px;
}

header .body-header .bottom-bar ul.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .body-header .bottom-bar ul li {
    padding: 0 15px;
}

header .body-header .bottom-bar ul li a {
    color: #252525;
    font-size: 14px;
}

header .body-header .bottom-bar ul li:hover a {
    color: #3b9048;
}

header .body-header .bottom-bar input {
    height: 35px;
    line-height: 35px;
    border: none;
    padding: 0 17px 0 20px;
    background: #f5f5f5;
    font-size: 13px;
    outline: none;
}

header .body-header .bottom-bar button {
    background-color: #3b9048;
    padding: 8px 15px;
    border: none;
    position: relative;
    right: 3px;
    top: 2px;
    cursor: pointer;
}

header .body-header .bottom-bar button i {
    font-size: 18px;
    color: #fff;
}

header .body-header .space {
    color: #333;
    opacity: 0.4;
}



.cart-icon {
    position: relative;
    display: inline-block;
    margin-left: 50px;
}

.cart-icon .cart-btn {
    width: 40px;
    /* Điều chỉnh kích thước icon giỏ hàng */
    font-size: 18px;
    color: #333;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: 3px;
    background: #3b9048;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.line_ {
    padding: 0;
    margin: 0px 0px 0px 10px;
    color: #c2c2c2;
    font-size: 14px;
    font-weight: bold;
}

#banner img {
    width: 100%;
    height: 601px;
    margin-bottom: 0;
}


#box-banners {
    display: flex;
    margin-top: -4px;
}

#box-banners .item {

    flex: 1;

    overflow: hidden;

}

#box-banners img {
    width: 100%;
    /* Ảnh full theo container */
    height: 100%;
    /* Full chiều cao màn hình */
    object-fit: cover;
    /* Giữ tỷ lệ ảnh đẹp */
    transition: transform 0.3s ease-in-out;
    opacity: 0.9;
}

#box-banners img:hover {
    opacity: 1;
    transform: scale(1.05);
}

.heading-box {
    text-align: center;
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
    font-family: "Muli", sans-serif;
    font-weight: bold;
}

.heading-box:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 80px;
    height: 1px;
    text-align: center;
    margin: 0 auto;
    background-color: #3b9048;
}

#productsTab .tabs-menu {
    display: flex;
    justify-content: center;
}


#productsTab .tabs-menu .tab-item {

    font-size: 14px;
    color: #252525;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 2px;
    margin-bottom: 20px;
    transition: all 0.3s step-start;
}

#productsTab .tabs-menu .tab-item.active {
    background-color: #3b9048;
    color: #fff;
}


#productsTab .tab-pane {
    display: none;
}

#productsTab .tab-pane.active {
    display: block;
}






.products .item {
    padding: 4px;
    text-align: center;
    margin-bottom: 40px;
}

.products .item img {
    width: 100%;

}

.products .item h3 a {
    color: #252525;
    font-size: 14px;
    font-weight: lighter;
}

.products .item h3 {
    padding: 5px;
}

.products .item span {
    color: #3b9048;
    font-size: 16px;
    font-weight: 400;
    padding-right: 5px;
}

.products .item del {
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 400;
    color: #acacac;
}

.products .box-img {
    position: relative;
}

.products .hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    display: none;
}


.products .hover-overlay .hover-overlay__bag,
.products .hover-overlay .hover-overlay__eye {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    color: black;
    margin-top: 5px;
}

.products .hover-overlay .hover-overlay__bag:hover,
.products .hover-overlay .hover-overlay__eye:hover {
    background-color: #3b9048;
    color: #fff;
}

.products .hover-overlay .hover-overlay__bag i,
.products .hover-overlay .hover-overlay__eye i {
    font-size: 20px;
    padding-top: 6px;
}

.products .hover-overlay__box-icon {
    background-color: #ffffff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 5px 8px;
    position: absolute;
    top: 99px;
    right: 25px;
    border-radius: 5px;
}



.products .item h3:hover a {
    color: #3b9048;
}

#banner2 {
    overflow: hidden;
}

#banner2 img {
    width: 100%;
    /* Ảnh full theo container */
    height: 100%;
    /* Full chiều cao màn hình */
    object-fit: cover;

    transition: transform 0.3s ease-in-out;
    opacity: 0.9;

}

#banner2 img:hover {
    opacity: 1;
    transform: scale(1.05);
}

#policy .box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#policy .box img {
    padding: 12px;
    transition: transform 1s ease-in-out;
}

#policy .box-item:hover img {
    transform: rotate(360deg);
}

#policy .box h3 {
    color: #252525;
    font-weight: bold;
    font-size: 20px;
}

#policy .box p {
    font-size: 14px;
    color: #acacac;
    margin-top: 8px;
}



/* product-slide */
.container-slide {
    margin-top: 20px;
}

.container-slide .box-slide__item {
    display: flex;
    align-items: center;
}

.container-slide .box-slide__item h3 {
    font-size: 15px;
    color: #252525;
    margin-bottom: 8px;
}

.container-slide .box-slide__item h3:hover {
    color: #3b9048;
}

.container-slide .box-slide__item span {
    font-size: 17px;
    color: #3b9048;
    font-weight: 400;
}

.container-slide .box-slide__item-content {
    padding: 10px;
}

.container-slide .box-slide__item del {
    color: #acacac;
    font-size: 15px;

}

.container-slide .box-slide__item img {
    width: 150px;
    height: 150px;

}

.swiper-pagination {
    margin-top: 20px;
    /* Điều chỉnh khoảng cách */
    position: relative;
    /* Giữ nó bên trong container */

}

/* -------------------------------------- */

#latest-news {
    margin-top: 10px;
}

#latest-news .news-container {
    margin-top: 55px;
}

#latest-news .news-item1 img {}


#latest-news .news-item1 h3 {
    color: #252525;
    font-size: 16px;
    letter-spacing: .01em;
    line-height: 35px;
}



#latest-news span {
    font-size: 14px;
    color: #707070;
    padding-right: 25px;
}

#latest-news .news-item__box {
    display: flex;
    margin-bottom: 30px;
}

#latest-news .news-item__box h3 {
    color: #252525;
    font-size: 16px;
    letter-spacing: .01em;
    padding-bottom: 15px;
}



#latest-news .news-item__box img {
    width: 180px;
    height: 110px;
}

#latest-news .news-item__boxTitle {
    padding-left: 20px;
}

#latest-news h3:hover {
    color: #3b9048;
}

#banner-ins div {
    display: flex;

}

#banner-ins img {
    width: 253.5px;
    height: 253.5px;
}

footer {
    margin-top: 50px;
}

footer .footer-logo {
    display: flex;
    justify-content: center;
}

footer .footer-info {
    text-align: center;
}

footer .footer-info h3 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #252525;
}

footer .footer-info p {
    font-size: 14px;
    color: #252525;
    line-height: 22px;
}

footer .footer-info a {
    color: #252525;
}

footer .footer-info a:hover {
    color: #3b9048;
}

footer .box-footer {
    margin-top: 30px;
}

footer .box-footer h4 {
    background: transparent;
    font-size: 15px;
    text-transform: uppercase;
    color: #3b9048;
    position: relative;
    font-weight: bold;
    margin-bottom: 10px;
}


footer .box-footer li a {
    color: #252525;
    font-size: 14px;
    line-height: 32px;
}

footer .box-footer li a:hover {
    color: #3b9048;
}

footer .box-social {
    display: flex;

}

footer .box-social a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: black;
    margin-top: 5px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 3px 5px 6px 0px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
}

footer .box-social a:hover {
    background-color: #3b9048;
    color: #fff;
}

footer .box-social i {
    color: #959595;
    font-size: 16px;

}

footer .box-social a:hover i {
    color: #fff;
}

footer .form-nhantin input {
    width: 170px;
    border-radius: 0px;
    margin-right: 3px;
    margin-bottom: 0;
    display: inline-block;
    background: #ebebeb;
    padding: 0 20px 0 15px;
    min-height: 34px;
    border: none;
    outline: none;
}

footer .form-nhantin {
    position: relative;
}

footer .form-nhantin button {
    line-height: 34px;
    height: 34px;
    border-radius: 0px;
    padding: 0 12px;
    background-color: #3b9048;
    border: none;
    color: #fff;
    position: relative;
    right: 7px;
    cursor: pointer;
}

footer .bottom-footer {
    margin-top: 30px;
    background-color: #333;
    padding: 20px;
    text-align: center;
}

footer .bottom-footer p {
    color: #fff;
    font-size: 14px;
}

footer .bottom-footer a {
    color: #3b9048;
}

#spacing-footer {
    border-bottom: 1px solid #3b9048;
    margin-top: 80px;
}



.mini-cart .delete-item i {
    color: #707070;
    font-size: 14px;

}

.mini-cart .delete-item {
    padding: 5px;
}

.mini-cart .delete-item:hover i {
    color: #3b9048;
    cursor: pointer;
}

.mini-cart {
    position: absolute;
    right: 20px;
    top: 25px;
    z-index: 99;
    width: 300px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);

    opacity: 0;
    /* Ẩn mặc định */
    visibility: hidden;
    /* Ẩn hoàn toàn */
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.cart-icon:hover .mini-cart,
.mini-cart:hover {
    opacity: 1;
    visibility: visible;
}

.mini-cart-body {
    max-height: 350px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #3b9048 #f1f1f1;
    padding: 10px;
}




.mini-cart .cart-mini-item {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 10px;
}

.mini-cart .img-item {
    padding-right: 15px;
    padding-left: 5px;
}

.mini-cart .img-item img {
    width: 70px;

}

.mini-cart .info-item_name {
    font-size: 14px;
    font-weight: 400;
    color: #707070;
    word-break: break-word;
}

.mini-cart .info-item_name:hover {
    color: #3b9048;
}

.mini-cart .info-item_price {
    margin-top: 10px;
}

.mini-cart .info-item_price strong {
    font-weight: bold;
    color: #3b9048;
    font-size: 15px;
}

.mini-cart .info-item_price span {
    color: #acacac;
    font-size: 14px;
    padding-left: 10px;
}

.mini-cart-footer {
    padding: 10px 15px;
}

.mini-cart-footer .total {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.mini-cart-footer .total span {
    text-align: left;
    color: #252525;
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
    display: inline-block;
}

.mini-cart-footer .total strong {
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    color: #3b9048;
    display: inline-block;
}

.mini-cart-footer .checkout-btn {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0;
    border: none;
    color: #fff;
    background-color: #3b9048;
    margin-top: 15px;

}

.mini-cart-footer .checkout-btn:hover {
    background-color: #2c6c36;
    cursor: pointer;
}



.item-category {
    position: relative;

    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
}

.item-category .submenu {

    display: none;
    width: 100%;
    /* Rộng bằng item-category */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;

}

.item-category .submenu a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 10px;

}

.item-category:hover .submenu {
    display: block;
}

.item-category a:hover {
    color: #2c6c36;
}* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: Arial, sans-serif;
 }

 li {
     list-style: none;
 }

 body {}

 a {
     text-decoration: none;
 }

 .mt-10 {
     margin-top: 10px;
 }

 .container {
     width: 1200px;
     margin: 0 auto;
     max-width: 100%;
 }

 .p-3 {
     padding: 5px;
 }

 /* ------------------------------------ */
 .navig a {
     color: #707070;
     font-size: 14px;
 }

 .navig i {
     color: #707070;
     padding: 0 5px;
     font-size: 14px;
 }

 .navig .item.active {
     color: #3b9048;
 }

 .navig a:hover {
     color: #3b9048;
 }

 /* ---------------------------------- */

 header {
     background-color: #252525;
     max-height: 128px;
 }


 header .top-header .top-items {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 header .top-header .top-items a {
     color: #fff;
     font-size: 13px;
     display: flex;
     align-items: center;
     padding: 3px 25px;

 }

 header .top-items .item:hover a {
     color: #3b9048;
 }

 header .body-header {
     padding: 20px;
     position: relative;
     bottom: -5px;
     background: #fff;
     box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
     border-radius: 4px;
 }


 header .body-header .top-bar {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 header .body-header .top-bar .user {
     font-size: 14px;
     color: #252525;
 }

 header .body-header .top-bar .user:hover {
     color: #3b9048;
 }


 header .body-header .bottom-bar {
     margin-top: 15px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 header .body-header .bottom-bar h3 {
     font-size: 14px;
     font-weight: bold;
     color: #fff;
     font-weight: 700;
     line-height: 17px;

 }

 header .body-header .bottom-bar .item:first-child {
     background-color: #3b9048;
     height: 45px;
     padding: 15px 55px 25px 22px;
 }

 header .body-header .bottom-bar ul.item {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 header .body-header .bottom-bar ul li {
     padding: 0 15px;
 }

 header .body-header .bottom-bar ul li a {
     color: #252525;
     font-size: 14px;
 }

 header .body-header .bottom-bar ul li:hover a {
     color: #3b9048;
 }

 header .body-header .bottom-bar input {
     height: 35px;
     line-height: 35px;
     border: none;
     padding: 0 17px 0 20px;
     background: #f5f5f5;
     font-size: 13px;
     outline: none;
 }

 header .body-header .bottom-bar button {
     background-color: #3b9048;
     padding: 8px 15px;
     border: none;
     position: relative;
     right: 3px;
     top: 2px;
     cursor: pointer;
 }

 header .body-header .bottom-bar button i {
     font-size: 18px;
     color: #fff;
 }

 header .body-header .space {
     color: #333;
     opacity: 0.4;
 }



 .cart-icon {
     position: relative;
     display: inline-block;
     margin-left: 50px;
 }

 .cart-icon .cart-btn {
     width: 40px;
     /* Điều chỉnh kích thước icon giỏ hàng */
     font-size: 18px;
     color: #333;
 }

 .cart-count {
     position: absolute;
     top: -10px;
     right: 3px;
     background: #3b9048;
     color: white;
     font-size: 14px;
     font-weight: bold;
     width: 22px;
     height: 22px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

 }

 .line_ {
     padding: 0;
     margin: 0px 0px 0px 10px;
     color: #c2c2c2;
     font-size: 14px;
     font-weight: bold;
 }

 #banner img {
     width: 100%;
     height: 601px;
     margin-bottom: 0;
 }


 #box-banners {
     display: flex;
     margin-top: -4px;
 }

 #box-banners .item {

     flex: 1;

     overflow: hidden;

 }

 #box-banners img {
     width: 100%;
     /* Ảnh full theo container */
     height: 100%;
     /* Full chiều cao màn hình */
     object-fit: cover;
     /* Giữ tỷ lệ ảnh đẹp */
     transition: transform 0.3s ease-in-out;
     opacity: 0.9;
 }

 #box-banners img:hover {
     opacity: 1;
     transform: scale(1.05);
 }

 .heading-box {
     text-align: center;
     font-size: 28px;
     margin-top: 50px;
     margin-bottom: 20px;
     position: relative;
     font-family: "Muli", sans-serif;
     font-weight: bold;
 }

 .heading-box:after {
     content: '';
     position: absolute;
     bottom: -5px;
     left: 0;
     right: 0;
     width: 80px;
     height: 1px;
     text-align: center;
     margin: 0 auto;
     background-color: #3b9048;
 }

 #productsTab .tabs-menu {
     display: flex;
     justify-content: center;
 }


 #productsTab .tabs-menu .tab-item {

     font-size: 14px;
     color: #252525;
     padding: 10px 15px;
     cursor: pointer;
     border-radius: 2px;
     margin-bottom: 20px;
     transition: all 0.3s step-start;
 }

 #productsTab .tabs-menu .tab-item.active {
     background-color: #3b9048;
     color: #fff;
 }


 #productsTab .tab-pane {
     display: none;
 }

 #productsTab .tab-pane.active {
     display: block;
 }






 .products .item {
     padding: 4px;
     text-align: center;
     margin-bottom: 40px;
 }

 .products .item img {
     width: 100%;

 }

 .products .item h3 a {
     color: #252525;
     font-size: 14px;
     font-weight: lighter;
 }

 .products .item h3 {
     padding: 5px;
 }

 .products .item span {
     color: #3b9048;
     font-size: 16px;
     font-weight: 400;
     padding-right: 5px;
 }

 .products .item del {
     text-decoration: line-through;
     font-size: 14px;
     font-weight: 400;
     color: #acacac;
 }

 .products .box-img {
     position: relative;
 }

 .products .hover-overlay {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: rgba(255, 255, 255, 0.5);
     display: none;
 }


 .products .hover-overlay .hover-overlay__bag,
 .products .hover-overlay .hover-overlay__eye {
     width: 35px;
     height: 35px;
     background-color: #fff;
     border-radius: 50%;
     color: black;
     margin-top: 5px;
 }

 .products .hover-overlay .hover-overlay__bag:hover,
 .products .hover-overlay .hover-overlay__eye:hover {
     background-color: #3b9048;
     color: #fff;
 }

 .products .hover-overlay .hover-overlay__bag i,
 .products .hover-overlay .hover-overlay__eye i {
     font-size: 20px;
     padding-top: 6px;
 }

 .products .hover-overlay__box-icon {
     background-color: #ffffff;
     box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
     padding: 5px 8px;
     position: absolute;
     top: 99px;
     right: 25px;
     border-radius: 5px;
 }



 .products .item h3:hover a {
     color: #3b9048;
 }

 #banner2 {
     overflow: hidden;
 }

 #banner2 img {
     width: 100%;
     /* Ảnh full theo container */
     height: 100%;
     /* Full chiều cao màn hình */
     object-fit: cover;

     transition: transform 0.3s ease-in-out;
     opacity: 0.9;

 }

 #banner2 img:hover {
     opacity: 1;
     transform: scale(1.05);
 }

 #policy .box {
     display: flex;
     justify-content: space-between;
     text-align: center;
     margin-top: 50px;
     margin-bottom: 90px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }

 #policy .box img {
     padding: 12px;
     transition: transform 1s ease-in-out;
 }

 #policy .box-item:hover img {
     transform: rotate(360deg);
 }

 #policy .box h3 {
     color: #252525;
     font-weight: bold;
     font-size: 20px;
 }

 #policy .box p {
     font-size: 14px;
     color: #acacac;
     margin-top: 8px;
 }



 /* product-slide */
 .container-slide {
     margin-top: 20px;
 }

 .container-slide .box-slide__item {
     display: flex;
     align-items: center;
 }

 .container-slide .box-slide__item h3 {
     font-size: 15px;
     color: #252525;
     margin-bottom: 8px;
 }

 .container-slide .box-slide__item h3:hover {
     color: #3b9048;
 }

 .container-slide .box-slide__item span {
     font-size: 17px;
     color: #3b9048;
     font-weight: 400;
 }

 .container-slide .box-slide__item-content {
     padding: 10px;
 }

 .container-slide .box-slide__item del {
     color: #acacac;
     font-size: 15px;

 }

 .container-slide .box-slide__item img {
     width: 150px;
     height: 150px;

 }

 .swiper-pagination {
     margin-top: 20px;
     /* Điều chỉnh khoảng cách */
     position: relative;
     /* Giữ nó bên trong container */

 }

 /* -------------------------------------- */

 #latest-news {
     margin-top: 10px;
 }

 #latest-news .news-container {
     margin-top: 55px;
 }

 #latest-news .news-item1 img {}


 #latest-news .news-item1 h3 {
     color: #252525;
     font-size: 16px;
     letter-spacing: .01em;
     line-height: 35px;
 }



 #latest-news span {
     font-size: 14px;
     color: #707070;
     padding-right: 25px;
 }

 #latest-news .news-item__box {
     display: flex;
     margin-bottom: 30px;
 }

 #latest-news .news-item__box h3 {
     color: #252525;
     font-size: 16px;
     letter-spacing: .01em;
     padding-bottom: 15px;
 }



 #latest-news .news-item__box img {
     width: 180px;
     height: 110px;
 }

 #latest-news .news-item__boxTitle {
     padding-left: 20px;
 }

 #latest-news h3:hover {
     color: #3b9048;
 }

 #banner-ins div {
     display: flex;

 }

 #banner-ins img {
     width: 253.5px;
     height: 253.5px;
 }

 footer {
     margin-top: 50px;
 }

 footer .footer-logo {
     display: flex;
     justify-content: center;
 }

 footer .footer-info {
     text-align: center;
 }

 footer .footer-info h3 {
     font-size: 16px;
     margin-top: 20px;
     margin-bottom: 10px;
     color: #252525;
 }

 footer .footer-info p {
     font-size: 14px;
     color: #252525;
     line-height: 22px;
 }

 footer .footer-info a {
     color: #252525;
 }

 footer .footer-info a:hover {
     color: #3b9048;
 }

 footer .box-footer {
     margin-top: 30px;
 }

 footer .box-footer h4 {
     background: transparent;
     font-size: 15px;
     text-transform: uppercase;
     color: #3b9048;
     position: relative;
     font-weight: bold;
     margin-bottom: 10px;
 }


 footer .box-footer li a {
     color: #252525;
     font-size: 14px;
     line-height: 32px;
 }

 footer .box-footer li a:hover {
     color: #3b9048;
 }

 footer .box-social {
     display: flex;

 }

 footer .box-social a {
     height: 40px;
     width: 40px;
     border-radius: 50%;
     color: black;
     margin-top: 5px;
     display: block;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #fff;
     box-shadow: 3px 5px 6px 0px rgba(0, 0, 0, 0.1);
     margin-right: 10px;
     margin-top: 15px;
     margin-bottom: 30px;
 }

 footer .box-social a:hover {
     background-color: #3b9048;
     color: #fff;
 }

 footer .box-social i {
     color: #959595;
     font-size: 16px;

 }

 footer .box-social a:hover i {
     color: #fff;
 }

 footer .form-nhantin input {
     width: 170px;
     border-radius: 0px;
     margin-right: 3px;
     margin-bottom: 0;
     display: inline-block;
     background: #ebebeb;
     padding: 0 20px 0 15px;
     min-height: 34px;
     border: none;
     outline: none;
 }

 footer .form-nhantin {
     position: relative;
 }

 footer .form-nhantin button {
     line-height: 34px;
     height: 34px;
     border-radius: 0px;
     padding: 0 12px;
     background-color: #3b9048;
     border: none;
     color: #fff;
     position: relative;
     right: 7px;
     cursor: pointer;
 }

 footer .bottom-footer {
     margin-top: 30px;
     background-color: #333;
     padding: 20px;
     text-align: center;
 }

 footer .bottom-footer p {
     color: #fff;
     font-size: 14px;
 }

 footer .bottom-footer a {
     color: #3b9048;
 }

 #spacing-footer {
     border-bottom: 1px solid #3b9048;
     margin-top: 80px;
 }



 .mini-cart .delete-item i {
     color: #707070;
     font-size: 14px;

 }

 .mini-cart .delete-item {
     padding: 5px;
 }

 .mini-cart .delete-item:hover i {
     color: #3b9048;
     cursor: pointer;
 }

 .mini-cart {
     position: absolute;
     right: 20px;
     top: 25px;
     z-index: 99;
     width: 300px;
     background-color: #fff;
     box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);

     opacity: 0;
     /* Ẩn mặc định */
     visibility: hidden;
     /* Ẩn hoàn toàn */
     transition: opacity 0.3s ease, visibility 0.3s ease;
 }

 .cart-icon:hover .mini-cart,
 .mini-cart:hover {
     opacity: 1;
     visibility: visible;
 }

 .mini-cart-body {
     max-height: 350px;
     overflow-y: auto;
     scrollbar-width: thin;
     scrollbar-color: #3b9048 #f1f1f1;
     padding: 10px;
 }




 .mini-cart .cart-mini-item {
     display: flex;
     padding: 15px 0;
     border-bottom: 1px solid #eeeeee;
     margin-bottom: 10px;
 }

 .mini-cart .img-item {
     padding-right: 15px;
     padding-left: 5px;
 }

 .mini-cart .img-item img {
     width: 70px;

 }

 .mini-cart .info-item_name {
     font-size: 14px;
     font-weight: 400;
     color: #707070;
     word-break: break-word;
 }

 .mini-cart .info-item_name:hover {
     color: #3b9048;
 }

 .mini-cart .info-item_price {
     margin-top: 10px;
 }

 .mini-cart .info-item_price strong {
     font-weight: bold;
     color: #3b9048;
     font-size: 15px;
 }

 .mini-cart .info-item_price span {
     color: #acacac;
     font-size: 14px;
     padding-left: 10px;
 }

 .mini-cart-footer {
     padding: 10px 15px;
 }

 .mini-cart-footer .total {
     display: flex;
     justify-content: space-between;
     margin-top: 8px;
 }

 .mini-cart-footer .total span {
     text-align: left;
     color: #252525;
     font-size: 16px;
     font-weight: 700;
     margin-right: 20px;
     display: inline-block;
 }

 .mini-cart-footer .total strong {
     text-align: right;
     font-weight: bold;
     font-size: 16px;
     color: #3b9048;
     display: inline-block;
 }

 .mini-cart-footer .checkout-btn {
     width: 100%;
     font-size: 16px;
     font-weight: bold;
     padding: 15px 0;
     border: none;
     color: #fff;
     background-color: #3b9048;
     margin-top: 15px;

 }

 .mini-cart-footer .checkout-btn:hover {
     background-color: #2c6c36;
     cursor: pointer;
 }



 .item-category {
     position: relative;

     background-color: #f5f5f5;
     padding: 10px;
     border-radius: 8px;
 }

 .item-category .submenu {

     display: none;
     width: 100%;
     /* Rộng bằng item-category */
     position: absolute;
     top: 100%;
     left: 0;
     background-color: #fff;
     border-radius: 6px;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
     z-index: 10;

 }

 .item-category .submenu a {
     display: block;
     text-decoration: none;
     color: #333;
     padding: 10px 10px;

 }

 .item-category:hover .submenu {
     display: block;
 }

 .item-category a:hover {
     color: #2c6c36;
 }* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
  }

  li {
      list-style: none;
  }

  body {}

  a {
      text-decoration: none;
  }

  .mt-10 {
      margin-top: 10px;
  }

  .container {
      width: 1200px;
      margin: 0 auto;
      max-width: 100%;
  }

  .p-3 {
      padding: 5px;
  }

  /* ------------------------------------ */
  .navig a {
      color: #707070;
      font-size: 14px;
  }

  .navig i {
      color: #707070;
      padding: 0 5px;
      font-size: 14px;
  }

  .navig .item.active {
      color: #3b9048;
  }

  .navig a:hover {
      color: #3b9048;
  }

  /* ---------------------------------- */

  header {
      background-color: #252525;
      max-height: 128px;
  }


  header .top-header .top-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  header .top-header .top-items a {
      color: #fff;
      font-size: 13px;
      display: flex;
      align-items: center;
      padding: 3px 25px;

  }

  header .top-items .item:hover a {
      color: #3b9048;
  }

  header .body-header {
      padding: 20px;
      position: relative;
      bottom: -5px;
      background: #fff;
      box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
  }


  header .body-header .top-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  header .body-header .top-bar .user {
      font-size: 14px;
      color: #252525;
  }

  header .body-header .top-bar .user:hover {
      color: #3b9048;
  }


  header .body-header .bottom-bar {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  header .body-header .bottom-bar h3 {
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      font-weight: 700;
      line-height: 17px;

  }

  header .body-header .bottom-bar .item:first-child {
      background-color: #3b9048;
      height: 45px;
      padding: 15px 55px 25px 22px;
  }

  header .body-header .bottom-bar ul.item {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  header .body-header .bottom-bar ul li {
      padding: 0 15px;
  }

  header .body-header .bottom-bar ul li a {
      color: #252525;
      font-size: 14px;
  }

  header .body-header .bottom-bar ul li:hover a {
      color: #3b9048;
  }

  header .body-header .bottom-bar input {
      height: 35px;
      line-height: 35px;
      border: none;
      padding: 0 17px 0 20px;
      background: #f5f5f5;
      font-size: 13px;
      outline: none;
  }

  header .body-header .bottom-bar button {
      background-color: #3b9048;
      padding: 8px 15px;
      border: none;
      position: relative;
      right: 3px;
      top: 2px;
      cursor: pointer;
  }

  header .body-header .bottom-bar button i {
      font-size: 18px;
      color: #fff;
  }

  header .body-header .space {
      color: #333;
      opacity: 0.4;
  }



  .cart-icon {
      position: relative;
      display: inline-block;
      margin-left: 50px;
  }

  .cart-icon .cart-btn {
      width: 40px;
      /* Điều chỉnh kích thước icon giỏ hàng */
      font-size: 18px;
      color: #333;
  }

  .cart-count {
      position: absolute;
      top: -10px;
      right: 3px;
      background: #3b9048;
      color: white;
      font-size: 14px;
      font-weight: bold;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  }

  .line_ {
      padding: 0;
      margin: 0px 0px 0px 10px;
      color: #c2c2c2;
      font-size: 14px;
      font-weight: bold;
  }

  #banner img {
      width: 100%;
      height: 601px;
      margin-bottom: 0;
  }


  #box-banners {
      display: flex;
      margin-top: -4px;
  }

  #box-banners .item {

      flex: 1;

      overflow: hidden;

  }

  #box-banners img {
      width: 100%;
      /* Ảnh full theo container */
      height: 100%;
      /* Full chiều cao màn hình */
      object-fit: cover;
      /* Giữ tỷ lệ ảnh đẹp */
      transition: transform 0.3s ease-in-out;
      opacity: 0.9;
  }

  #box-banners img:hover {
      opacity: 1;
      transform: scale(1.05);
  }

  .heading-box {
      text-align: center;
      font-size: 28px;
      margin-top: 50px;
      margin-bottom: 20px;
      position: relative;
      font-family: "Muli", sans-serif;
      font-weight: bold;
  }

  .heading-box:after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      width: 80px;
      height: 1px;
      text-align: center;
      margin: 0 auto;
      background-color: #3b9048;
  }

  #productsTab .tabs-menu {
      display: flex;
      justify-content: center;
  }


  #productsTab .tabs-menu .tab-item {

      font-size: 14px;
      color: #252525;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 2px;
      margin-bottom: 20px;
      transition: all 0.3s step-start;
  }

  #productsTab .tabs-menu .tab-item.active {
      background-color: #3b9048;
      color: #fff;
  }


  #productsTab .tab-pane {
      display: none;
  }

  #productsTab .tab-pane.active {
      display: block;
  }






  .products .item {
      padding: 4px;
      text-align: center;
      margin-bottom: 40px;
  }

  .products .item img {
      width: 100%;

  }

  .products .item h3 a {
      color: #252525;
      font-size: 14px;
      font-weight: lighter;
  }

  .products .item h3 {
      padding: 5px;
  }

  .products .item span {
      color: #3b9048;
      font-size: 16px;
      font-weight: 400;
      padding-right: 5px;
  }

  .products .item del {
      text-decoration: line-through;
      font-size: 14px;
      font-weight: 400;
      color: #acacac;
  }

  .products .box-img {
      position: relative;
  }

  .products .hover-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.5);
      display: none;
  }


  .products .hover-overlay .hover-overlay__bag,
  .products .hover-overlay .hover-overlay__eye {
      width: 35px;
      height: 35px;
      background-color: #fff;
      border-radius: 50%;
      color: black;
      margin-top: 5px;
  }

  .products .hover-overlay .hover-overlay__bag:hover,
  .products .hover-overlay .hover-overlay__eye:hover {
      background-color: #3b9048;
      color: #fff;
  }

  .products .hover-overlay .hover-overlay__bag i,
  .products .hover-overlay .hover-overlay__eye i {
      font-size: 20px;
      padding-top: 6px;
  }

  .products .hover-overlay__box-icon {
      background-color: #ffffff;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      padding: 5px 8px;
      position: absolute;
      top: 99px;
      right: 25px;
      border-radius: 5px;
  }



  .products .item h3:hover a {
      color: #3b9048;
  }

  #banner2 {
      overflow: hidden;
  }

  #banner2 img {
      width: 100%;
      /* Ảnh full theo container */
      height: 100%;
      /* Full chiều cao màn hình */
      object-fit: cover;

      transition: transform 0.3s ease-in-out;
      opacity: 0.9;

  }

  #banner2 img:hover {
      opacity: 1;
      transform: scale(1.05);
  }

  #policy .box {
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 90px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }

  #policy .box img {
      padding: 12px;
      transition: transform 1s ease-in-out;
  }

  #policy .box-item:hover img {
      transform: rotate(360deg);
  }

  #policy .box h3 {
      color: #252525;
      font-weight: bold;
      font-size: 20px;
  }

  #policy .box p {
      font-size: 14px;
      color: #acacac;
      margin-top: 8px;
  }



  /* product-slide */
  .container-slide {
      margin-top: 20px;
  }

  .container-slide .box-slide__item {
      display: flex;
      align-items: center;
  }

  .container-slide .box-slide__item h3 {
      font-size: 15px;
      color: #252525;
      margin-bottom: 8px;
  }

  .container-slide .box-slide__item h3:hover {
      color: #3b9048;
  }

  .container-slide .box-slide__item span {
      font-size: 17px;
      color: #3b9048;
      font-weight: 400;
  }

  .container-slide .box-slide__item-content {
      padding: 10px;
  }

  .container-slide .box-slide__item del {
      color: #acacac;
      font-size: 15px;

  }

  .container-slide .box-slide__item img {
      width: 150px;
      height: 150px;

  }

  .swiper-pagination {
      margin-top: 20px;
      /* Điều chỉnh khoảng cách */
      position: relative;
      /* Giữ nó bên trong container */

  }

  /* -------------------------------------- */

  #latest-news {
      margin-top: 10px;
  }

  #latest-news .news-container {
      margin-top: 55px;
  }

  #latest-news .news-item1 img {}


  #latest-news .news-item1 h3 {
      color: #252525;
      font-size: 16px;
      letter-spacing: .01em;
      line-height: 35px;
  }



  #latest-news span {
      font-size: 14px;
      color: #707070;
      padding-right: 25px;
  }

  #latest-news .news-item__box {
      display: flex;
      margin-bottom: 30px;
  }

  #latest-news .news-item__box h3 {
      color: #252525;
      font-size: 16px;
      letter-spacing: .01em;
      padding-bottom: 15px;
  }



  #latest-news .news-item__box img {
      width: 180px;
      height: 110px;
  }

  #latest-news .news-item__boxTitle {
      padding-left: 20px;
  }

  #latest-news h3:hover {
      color: #3b9048;
  }

  #banner-ins div {
      display: flex;

  }

  #banner-ins img {
      width: 253.5px;
      height: 253.5px;
  }

  footer {
      margin-top: 50px;
  }

  footer .footer-logo {
      display: flex;
      justify-content: center;
  }

  footer .footer-info {
      text-align: center;
  }

  footer .footer-info h3 {
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 10px;
      color: #252525;
  }

  footer .footer-info p {
      font-size: 14px;
      color: #252525;
      line-height: 22px;
  }

  footer .footer-info a {
      color: #252525;
  }

  footer .footer-info a:hover {
      color: #3b9048;
  }

  footer .box-footer {
      margin-top: 30px;
  }

  footer .box-footer h4 {
      background: transparent;
      font-size: 15px;
      text-transform: uppercase;
      color: #3b9048;
      position: relative;
      font-weight: bold;
      margin-bottom: 10px;
  }


  footer .box-footer li a {
      color: #252525;
      font-size: 14px;
      line-height: 32px;
  }

  footer .box-footer li a:hover {
      color: #3b9048;
  }

  footer .box-social {
      display: flex;

  }

  footer .box-social a {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      color: black;
      margin-top: 5px;
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      box-shadow: 3px 5px 6px 0px rgba(0, 0, 0, 0.1);
      margin-right: 10px;
      margin-top: 15px;
      margin-bottom: 30px;
  }

  footer .box-social a:hover {
      background-color: #3b9048;
      color: #fff;
  }

  footer .box-social i {
      color: #959595;
      font-size: 16px;

  }

  footer .box-social a:hover i {
      color: #fff;
  }

  footer .form-nhantin input {
      width: 170px;
      border-radius: 0px;
      margin-right: 3px;
      margin-bottom: 0;
      display: inline-block;
      background: #ebebeb;
      padding: 0 20px 0 15px;
      min-height: 34px;
      border: none;
      outline: none;
  }

  footer .form-nhantin {
      position: relative;
  }

  footer .form-nhantin button {
      line-height: 34px;
      height: 34px;
      border-radius: 0px;
      padding: 0 12px;
      background-color: #3b9048;
      border: none;
      color: #fff;
      position: relative;
      right: 7px;
      cursor: pointer;
  }

  footer .bottom-footer {
      margin-top: 30px;
      background-color: #333;
      padding: 20px;
      text-align: center;
  }

  footer .bottom-footer p {
      color: #fff;
      font-size: 14px;
  }

  footer .bottom-footer a {
      color: #3b9048;
  }

  #spacing-footer {
      border-bottom: 1px solid #3b9048;
      margin-top: 80px;
  }



  .mini-cart .delete-item i {
      color: #707070;
      font-size: 14px;

  }

  .mini-cart .delete-item {
      padding: 5px;
  }

  .mini-cart .delete-item:hover i {
      color: #3b9048;
      cursor: pointer;
  }

  .mini-cart {
      position: absolute;
      right: 20px;
      top: 25px;
      z-index: 99;
      width: 300px;
      background-color: #fff;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);

      opacity: 0;
      /* Ẩn mặc định */
      visibility: hidden;
      /* Ẩn hoàn toàn */
      transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .cart-icon:hover .mini-cart,
  .mini-cart:hover {
      opacity: 1;
      visibility: visible;
  }

  .mini-cart-body {
      max-height: 350px;
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: #3b9048 #f1f1f1;
      padding: 10px;
  }




  .mini-cart .cart-mini-item {
      display: flex;
      padding: 15px 0;
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 10px;
  }

  .mini-cart .img-item {
      padding-right: 15px;
      padding-left: 5px;
  }

  .mini-cart .img-item img {
      width: 70px;

  }

  .mini-cart .info-item_name {
      font-size: 14px;
      font-weight: 400;
      color: #707070;
      word-break: break-word;
  }

  .mini-cart .info-item_name:hover {
      color: #3b9048;
  }

  .mini-cart .info-item_price {
      margin-top: 10px;
  }

  .mini-cart .info-item_price strong {
      font-weight: bold;
      color: #3b9048;
      font-size: 15px;
  }

  .mini-cart .info-item_price span {
      color: #acacac;
      font-size: 14px;
      padding-left: 10px;
  }

  .mini-cart-footer {
      padding: 10px 15px;
  }

  .mini-cart-footer .total {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
  }

  .mini-cart-footer .total span {
      text-align: left;
      color: #252525;
      font-size: 16px;
      font-weight: 700;
      margin-right: 20px;
      display: inline-block;
  }

  .mini-cart-footer .total strong {
      text-align: right;
      font-weight: bold;
      font-size: 16px;
      color: #3b9048;
      display: inline-block;
  }

  .mini-cart-footer .checkout-btn {
      width: 100%;
      font-size: 16px;
      font-weight: bold;
      padding: 15px 0;
      border: none;
      color: #fff;
      background-color: #3b9048;
      margin-top: 15px;

  }

  .mini-cart-footer .checkout-btn:hover {
      background-color: #2c6c36;
      cursor: pointer;
  }



  .item-category {
      position: relative;

      background-color: #f5f5f5;
      padding: 10px;
      border-radius: 8px;
  }

  .item-category .submenu {

      display: none;
      width: 100%;
      /* Rộng bằng item-category */
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      z-index: 10;

  }

  .item-category .submenu a {
      display: block;
      text-decoration: none;
      color: #333;
      padding: 10px 10px;

  }

  .item-category:hover .submenu {
      display: block;
  }

  .item-category a:hover {
      color: #2c6c36;
  }